@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

.vertical-scrollbar::-webkit-scrollbar {
  position: relative;
  overflow: hidden;
  width: 3px !important;
  border-radius: 12px !important;
  background-color: #fefce8 !important;
}

.vertical-scrollbar::-webkit-scrollbar-track {
  width: 3px !important;
  border-radius: 12px !important;
  background-color: #fefce8 !important;
}

.vertical-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f7b750 !important;
  border-radius: 12px !important;
}

.horizontal-scrollbar::scrollbar {
  position: relative;
  overflow: hidden;
  height: 1px !important;
  border-radius: 12px !important;
  background-color: #fefce8 !important;
}

.horizontal-scrollbar::scrollbar-track {
  height: 1px !important;
  border-radius: 12px !important;
  background-color: #fefce8 !important;
}

.horizontal-scrollbar::scrollbar-thumb {
  background-color: #f7b750 !important;
  border-radius: 12px !important;
}

html,
body {
  @apply bg-white dark:bg-gray-950 !outline-none;
}
